/* Root container styling */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 4rem; /* Adjust padding to prevent overlap with navbar */
  text-align: center;
}

/* Fixed Navbar Styles */
.navbar {
  position: fixed; /* Fixed position to stay at the top */
  top: 0;
  left: 0;
  width: 18%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 0px;
  padding: 1rem 0;
  background-color: #ffffff;
}

/* Navigation link styles */
.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #EA8FB2;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  color: plum;
  font-weight: bolder;
}
.nav-link:active {
  font-weight: bold;
  color: plum;
}


/* Main Content */
.content {
  margin-top: 2rem; /* Additional margin to separate content from navbar */
  padding: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #root {
    padding-top: 6rem; /* Adjust padding for mobile view */
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .nav-link {
    font-size: 1rem;
  }
}

/* weeee */